/*
 * Grid
 *
 */

$container: 610px;
$mail-body: 700px;
$container-gutters: 10px;


/*
 * Fonts
 *
 */

$font-main: 'Roboto', sans-serif;
$font-second: Arial, sans-serif;

/*
 * Color
 *
 */
 
$color-white: #ffffff; 
$color-black: #000000; 


$color-red: #D34434;

$color-blue900: #52A4E3;
$color-blue700: #475965;
$color-blue500: #747D8C;
$color-blue300: #B9C6DA;
$color-blue100: #F8F8FA;



$color-theme: $color-red;



/* 1 Positioning */

/* 2 Block model */

/* 3 Typography */

/* 4 Visual */

/* 5 Animation*/

/* 6 Misc */