mixin img(data)
  img(src=image_path+data.img alt=data.alt width=data.width height=data.height style="display: block; width: 100%; max-width: " + data.width + "px; height: auto; margin: 0; border: 0; padding: 0; outline: none;")