.link {
  display: inline-block;
  
  text-decoration: none;
  color: $color-theme;
}
.link--tdecor {
  text-decoration: underline;
}
.link--white {
  color: $color-white;
}
.link--nowrap {
  white-space: nowrap;
}