.big-text {
  /* 2 Block model */
  margin: 0;

  /* 3 Typography */ 
  font-family: $font-main; 
  font-size: 50px;
  font-weight: 400; 
  line-height: 50px;
  color: $color-blue700;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.big-text--small {
  font-size: 28px;
  line-height: 36px;
  text-transform: none; 
}